<h1>一言掲示板</h1>
  <div class="sbody">
    <% @tasks.each do |task| %>
    <div class="adata">
      <div><%= task.title %></div>
      <div>
        <%= simple_format(task.content, class: "text") %>
        <%= task.created_at.in_time_zone('Tokyo') %>
      </div>
      <div>
        <%= link_to '編集', edit_task_path(task) %>
        <%= link_to '削除', task_path(task), method: :delete %>
      </div>
    </div>
    <% end %>
  
    <div class="spbutton"><%= link_to '追加', new_task_path %></div>
</div>