<h1>一言掲示板</h1>
  <div class="sbody">
    
    <div class="addbtn"><%= link_to '追加', new_task_path, {class:"btn btn--blue btn--radius"} %></div>
    
    <%= will_paginate %>
    
    <% @tasks.each do |task| %>
    <div class="adata">
      <div><h4><%= task.title %></h4></div>
      <div>
        <%= simple_format(task.content, class: "text") %>
        <%= task.created_at.in_time_zone('Tokyo') %>
      </div>
      <div>
        <%= link_to '編集', edit_task_path(task),{class:"btn btn--blue btn--radius"} %>
        <%= link_to '削除', task_path(task), {method: :delete,class:"btn btn--blue btn--radius"} %>
      </div>
    </div>
    <% end %>
    
    <%= will_paginate %>
    
</div>